openapi: 3.0.3
info:
  title: MoonEx API
  version: 1.0.0
  description: Comprehensive DeFi trading and wallet management API for the MoonEx platform
  contact:
    name: MoonEx Team
    email: support@moonex.io
    url: https://moonex.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.moonex.io/v1
    description: Production server
  - url: https://staging-api.moonex.io/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Development server
  - url: https://api.moonex.io/v1
    description: Production server
  - url: https://staging-api.moonex.io/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Development server
tags:
  - name: Authentication
    description: Operations related to auth management
  - name: Wallet Management
    description: Operations related to wallets management
  - name: Trading
    description: Operations related to trading management
  - name: Liquidity
    description: Operations related to liquidity management
  - name: Yield Farming
    description: Operations related to yield management
  - name: Governance
    description: Operations related to governance management
  - name: Limit Orders
    description: Operations related to limit-orders management
paths:
  /api/v1/auth/email:
    post:
      tags:
        - Authentication
      summary: Create email
      description: >-
        Performs a CREATE operation on email. This endpoint handles user
        authentication and authorization.
      operationId: POST_api_v1_auth_email
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples:
              default:
                summary: Email authentication
                value:
                  email: user@example.com
  /api/v1/auth/email/verify:
    post:
      tags:
        - Authentication
      summary: Create verify
      description: >-
        Performs a CREATE operation on verify. This endpoint handles user
        authentication and authorization.
      operationId: POST_api_v1_auth_email_verify
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples:
              default:
                summary: Email authentication
                value:
                  email: user@example.com
                  code: '123456'
  /api/v1/auth/social:
    post:
      tags:
        - Authentication
      summary: Create social
      description: >-
        Performs a CREATE operation on social. This endpoint handles user
        authentication and authorization.
      operationId: POST_api_v1_auth_social
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
  /api/v1/auth/wallet:
    post:
      tags:
        - Authentication
      summary: Create wallet
      description: >-
        Performs a CREATE operation on wallet. This endpoint handles user
        authentication and authorization.
      operationId: POST_api_v1_auth_wallet
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples:
              default:
                summary: Wallet authentication
                value:
                  walletAddress: '0x742d35Cc6634C0532925a3b8D4C7db1c5b0F5a8a'
                  signature: 0x...
                  message: Sign this message to authenticate
  /api/v1/auth/refresh:
    post:
      tags:
        - Authentication
      summary: Create refresh
      description: >-
        Performs a CREATE operation on refresh. This endpoint handles user
        authentication and authorization.
      operationId: POST_api_v1_auth_refresh
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
  /api/v1/auth/logout:
    post:
      tags:
        - Authentication
      summary: Create logout
      description: >-
        Performs a CREATE operation on logout. This endpoint handles user
        authentication and authorization.
      operationId: POST_api_v1_auth_logout
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/auth/me:
    get:
      tags:
        - Authentication
      summary: List me
      description: >-
        Performs a LIST operation on me. This endpoint handles user
        authentication and authorization.
      operationId: GET_api_v1_auth_me
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/wallets:
    post:
      tags:
        - Wallet Management
      summary: Create wallets
      description: >-
        Performs a CREATE operation on wallets. This endpoint manages wallet
        operations and transactions.
      operationId: POST_api_v1_wallets
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                walletAddress:
                  type: string
                  pattern: ^0x[a-fA-F0-9]{40}$
                  description: Ethereum wallet address
                to:
                  type: string
                  pattern: ^0x[a-fA-F0-9]{40}$
                  description: Recipient address
                value:
                  type: string
                  description: Amount in wei
                token:
                  type: string
                  description: Token symbol or address
                data:
                  type: string
                  description: Transaction data
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/wallets/{walletAddress}:
    get:
      tags:
        - Wallet Management
      summary: Get {wallet Address}
      description: >-
        Performs a GET operation on {walletAddress}. This endpoint manages
        wallet operations and transactions.
      operationId: GET_api_v1_wallets__walletAddress_
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Wallet'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/wallets/{walletAddress}/balance:
    get:
      tags:
        - Wallet Management
      summary: Get balance
      description: >-
        Performs a GET operation on balance. This endpoint manages wallet
        operations and transactions.
      operationId: GET_api_v1_wallets__walletAddress__balance
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Wallet'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/wallets/sign:
    post:
      tags:
        - Wallet Management
      summary: Create sign
      description: >-
        Performs a CREATE operation on sign. This endpoint manages wallet
        operations and transactions.
      operationId: POST_api_v1_wallets_sign
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/wallets/send:
    post:
      tags:
        - Wallet Management
      summary: Create send
      description: >-
        Performs a CREATE operation on send. This endpoint manages wallet
        operations and transactions.
      operationId: POST_api_v1_wallets_send
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/wallets/{walletAddress}/transactions:
    get:
      tags:
        - Wallet Management
      summary: Get transactions
      description: >-
        Performs a GET operation on transactions. This endpoint manages wallet
        operations and transactions.
      operationId: GET_api_v1_wallets__walletAddress__transactions
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Wallet'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/wallets/estimate-gas:
    post:
      tags:
        - Wallet Management
      summary: Create estimate-gas
      description: >-
        Performs a CREATE operation on estimate-gas. This endpoint manages
        wallet operations and transactions.
      operationId: POST_api_v1_wallets_estimate_gas
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/trading/quote:
    post:
      tags:
        - Trading
      summary: Create quote
      description: >-
        Performs a CREATE operation on quote. This endpoint facilitates token
        swapping and trading operations.
      operationId: POST_api_v1_trading_quote
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples:
              default:
                summary: Token swap
                value:
                  tokenIn:
                    address: '0xA0b86a33E6441b8e8C7C7b0b8e8e8e8e8e8e8e8e'
                    symbol: USDC
                    decimals: 6
                  tokenOut:
                    address: '0x6B175474E89094C44Da98b954EedeAC495271d0F'
                    symbol: DAI
                    decimals: 18
                  amountIn: '1000000'
                  slippageTolerance: '0.5'
      security:
        - bearerAuth: []
  /api/v1/trading/swap:
    post:
      tags:
        - Trading
      summary: Create swap
      description: >-
        Performs a CREATE operation on swap. This endpoint facilitates token
        swapping and trading operations.
      operationId: POST_api_v1_trading_swap
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples:
              default:
                summary: Token swap
                value:
                  tokenIn:
                    address: '0xA0b86a33E6441b8e8C7C7b0b8e8e8e8e8e8e8e8e'
                    symbol: USDC
                    decimals: 6
                  tokenOut:
                    address: '0x6B175474E89094C44Da98b954EedeAC495271d0F'
                    symbol: DAI
                    decimals: 18
                  amountIn: '1000000'
                  slippageTolerance: '0.5'
      security:
        - bearerAuth: []
  /api/v1/trading/routes:
    post:
      tags:
        - Trading
      summary: Create routes
      description: >-
        Performs a CREATE operation on routes. This endpoint facilitates token
        swapping and trading operations.
      operationId: POST_api_v1_trading_routes
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples:
              default:
                summary: Token swap
                value:
                  tokenIn:
                    address: '0xA0b86a33E6441b8e8C7C7b0b8e8e8e8e8e8e8e8e'
                    symbol: USDC
                    decimals: 6
                  tokenOut:
                    address: '0x6B175474E89094C44Da98b954EedeAC495271d0F'
                    symbol: DAI
                    decimals: 18
                  amountIn: '1000000'
                  slippageTolerance: '0.5'
      security:
        - bearerAuth: []
  /api/v1/trading/gas-estimate:
    post:
      tags:
        - Trading
      summary: Create gas-estimate
      description: >-
        Performs a CREATE operation on gas-estimate. This endpoint facilitates
        token swapping and trading operations.
      operationId: POST_api_v1_trading_gas_estimate
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples:
              default:
                summary: Token swap
                value:
                  tokenIn:
                    address: '0xA0b86a33E6441b8e8C7C7b0b8e8e8e8e8e8e8e8e'
                    symbol: USDC
                    decimals: 6
                  tokenOut:
                    address: '0x6B175474E89094C44Da98b954EedeAC495271d0F'
                    symbol: DAI
                    decimals: 18
                  amountIn: '1000000'
                  slippageTolerance: '0.5'
      security:
        - bearerAuth: []
  /api/v1/liquidity/pools:
    post:
      tags:
        - Liquidity
      summary: Create pools
      description: Performs a CREATE operation on pools.
      operationId: POST_api_v1_liquidity_pools
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
    get:
      tags:
        - Liquidity
      summary: List pools
      description: Performs a LIST operation on pools.
      operationId: GET_api_v1_liquidity_pools
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LiquidityPool'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/liquidity/pools/{poolId}:
    get:
      tags:
        - Liquidity
      summary: Get {pool Id}
      description: Performs a GET operation on {poolId}.
      operationId: GET_api_v1_liquidity_pools__poolId_
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/LiquidityPool'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/liquidity/pools/{poolId}/add:
    post:
      tags:
        - Liquidity
      summary: Create add
      description: Performs a CREATE operation on add.
      operationId: POST_api_v1_liquidity_pools__poolId__add
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/liquidity/pools/{poolId}/remove:
    post:
      tags:
        - Liquidity
      summary: Create remove
      description: Performs a CREATE operation on remove.
      operationId: POST_api_v1_liquidity_pools__poolId__remove
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/yield/farms:
    post:
      tags:
        - Yield Farming
      summary: Create farms
      description: Performs a CREATE operation on farms.
      operationId: POST_api_v1_yield_farms
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
    get:
      tags:
        - Yield Farming
      summary: List farms
      description: Performs a LIST operation on farms.
      operationId: GET_api_v1_yield_farms
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Farm'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/yield/farms/{farmId}:
    get:
      tags:
        - Yield Farming
      summary: Get {farm Id}
      description: Performs a GET operation on {farmId}.
      operationId: GET_api_v1_yield_farms__farmId_
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Farm'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/yield/farms/{farmId}/stake:
    post:
      tags:
        - Yield Farming
      summary: Create stake
      description: Performs a CREATE operation on stake.
      operationId: POST_api_v1_yield_farms__farmId__stake
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/yield/farms/{farmId}/unstake:
    post:
      tags:
        - Yield Farming
      summary: Create unstake
      description: Performs a CREATE operation on unstake.
      operationId: POST_api_v1_yield_farms__farmId__unstake
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/yield/farms/{farmId}/claim:
    post:
      tags:
        - Yield Farming
      summary: Create claim
      description: Performs a CREATE operation on claim.
      operationId: POST_api_v1_yield_farms__farmId__claim
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/governance/proposals:
    post:
      tags:
        - Governance
      summary: Create proposals
      description: Performs a CREATE operation on proposals.
      operationId: POST_api_v1_governance_proposals
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
    get:
      tags:
        - Governance
      summary: List proposals
      description: Performs a LIST operation on proposals.
      operationId: GET_api_v1_governance_proposals
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Proposal'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/governance/proposals/{proposalId}:
    get:
      tags:
        - Governance
      summary: Get {proposal Id}
      description: Performs a GET operation on {proposalId}.
      operationId: GET_api_v1_governance_proposals__proposalId_
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Proposal'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/governance/proposals/{proposalId}/vote:
    post:
      tags:
        - Governance
      summary: Create vote
      description: Performs a CREATE operation on vote.
      operationId: POST_api_v1_governance_proposals__proposalId__vote
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
  /api/v1/governance/proposals/{proposalId}/votes:
    get:
      tags:
        - Governance
      summary: Get votes
      description: Performs a GET operation on votes.
      operationId: GET_api_v1_governance_proposals__proposalId__votes
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Proposal'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/limit-orders/orders:
    post:
      tags:
        - Limit Orders
      summary: Create orders
      description: Performs a CREATE operation on orders.
      operationId: POST_api_v1_limit_orders_orders
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '201':
          description: Resource created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
              properties: {}
              required: []
            examples: {}
      security:
        - bearerAuth: []
    get:
      tags:
        - Limit Orders
      summary: List orders
      description: Performs a LIST operation on orders.
      operationId: GET_api_v1_limit_orders_orders
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LimitOrder'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/limit-orders/orders/{orderId}:
    get:
      tags:
        - Limit Orders
      summary: Get {order Id}
      description: Performs a GET operation on {orderId}.
      operationId: GET_api_v1_limit_orders_orders__orderId_
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/LimitOrder'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
    delete:
      tags:
        - Limit Orders
      summary: Delete {order Id}
      description: Performs a DELETE operation on {orderId}.
      operationId: DELETE_api_v1_limit_orders_orders__orderId_
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '204':
          description: Resource deleted successfully
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /api/v1/limit-orders/orderbook/{tokenIn}/{tokenOut}:
    get:
      tags:
        - Limit Orders
      summary: Get {token Out}
      description: Performs a GET operation on {tokenOut}.
      operationId: GET_api_v1_limit_orders_orderbook__tokenIn___tokenOut_
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/LimitOrder'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
      security:
        - bearerAuth: []
  /:
    get:
      tags:
        - General
      summary: List resource
      description: Performs a LIST operation on resource.
      operationId: GET_
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: array
                    items:
                      type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '401':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    Token:
      type: object
      required:
        - address
        - symbol
        - decimals
      properties:
        address:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
          description: Token contract address
        symbol:
          type: string
          minLength: 1
          maxLength: 10
          description: Token symbol
        decimals:
          type: integer
          minimum: 0
          maximum: 18
          description: Number of decimal places
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: User unique identifier
        privyUserId:
          type: string
          description: Privy user ID
        email:
          type: string
          format: email
          description: User email address
        name:
          type: string
          description: User display name
        avatar:
          type: string
          description: User avatar URL
        walletAddress:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
          description: Primary wallet address
        linkedAccounts:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              address:
                type: string
          description: Linked social accounts
    Wallet:
      type: object
      properties:
        address:
          type: string
          pattern: ^0x[a-fA-F0-9]{40}$
          description: Wallet address
        userId:
          type: string
          format: uuid
          description: Owner user ID
        type:
          type: string
          enum:
            - embedded
            - external
          description: Wallet type
        balances:
          type: array
          items:
            type: object
            properties:
              token:
                $ref: '#/components/schemas/Token'
              balance:
                type: string
              usdValue:
                type: string
          description: Token balances
        createdAt:
          type: string
          format: date-time
          description: Wallet creation timestamp
    Trade:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Trade unique identifier
        user:
          type: object
          properties:
            id:
              type: string
            walletAddress:
              type: string
        tokenIn:
          $ref: '#/components/schemas/Token'
        tokenOut:
          $ref: '#/components/schemas/Token'
        amountIn:
          type: string
        amountOut:
          type: string
        price:
          type: string
        transactionHash:
          type: string
          pattern: ^0x[a-fA-F0-9]{64}$
          description: Transaction hash
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
          description: Trade status
        createdAt:
          type: string
          format: date-time
          description: Trade creation timestamp
    LiquidityPool:
      type: object
      properties:
        id:
          type: string
          description: Pool unique identifier
        token0:
          $ref: '#/components/schemas/Token'
        token1:
          $ref: '#/components/schemas/Token'
        fee:
          type: string
          description: Pool fee tier
        reserve0:
          type: string
        reserve1:
          type: string
        totalSupply:
          type: string
        apr:
          type: string
          description: Annual percentage rate
        createdAt:
          type: string
          format: date-time
    Farm:
      type: object
      properties:
        id:
          type: string
          description: Farm unique identifier
        name:
          type: string
          description: Farm name
        description:
          type: string
          description: Farm description
        poolId:
          type: string
          description: Associated pool ID
        rewardToken:
          $ref: '#/components/schemas/Token'
        rewardRate:
          type: string
        totalRewards:
          type: string
        stakedAmount:
          type: string
        userStake:
          type: object
          properties:
            amount:
              type: string
            pendingRewards:
              type: string
        status:
          type: string
          enum:
            - active
            - ended
            - paused
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
    Proposal:
      type: object
      properties:
        id:
          type: string
          description: Proposal unique identifier
        title:
          type: string
          description: Proposal title
        description:
          type: string
          description: Proposal description
        proposer:
          type: object
          properties:
            id:
              type: string
            walletAddress:
              type: string
        votingPeriod:
          type: integer
          description: Voting period in blocks
        quorum:
          type: string
          description: Required quorum
        approvalThreshold:
          type: string
          description: Approval threshold
        votes:
          type: object
          properties:
            for:
              type: string
            against:
              type: string
            abstain:
              type: string
        status:
          type: string
          enum:
            - active
            - passed
            - rejected
            - executed
        createdAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
    LimitOrder:
      type: object
      properties:
        id:
          type: string
          description: Order unique identifier
        user:
          type: object
          properties:
            id:
              type: string
            walletAddress:
              type: string
        tokenIn:
          $ref: '#/components/schemas/Token'
        tokenOut:
          $ref: '#/components/schemas/Token'
        amountIn:
          type: string
        amountOutMin:
          type: string
        price:
          type: string
        type:
          type: string
          enum:
            - buy
            - sell
        filledAmount:
          type: string
        remainingAmount:
          type: string
        status:
          type: string
          enum:
            - active
            - filled
            - cancelled
            - expired
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
    Pagination:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
        total:
          type: integer
          minimum: 0
        pages:
          type: integer
          minimum: 0
    Error:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
        details:
          type: object
          additionalProperties: true
          description: Additional error details
        timestamp:
          type: string
          format: date-time
          description: Error timestamp
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT authentication token obtained from /auth endpoints
  responses:
    SuccessResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: true
              data:
                type: object
              message:
                type: string
    ErrorResponse:
      description: Error occurred
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: string
              code:
                type: string
              details:
                type: object
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: string
              issues:
                type: array
                items:
                  type: object
                  properties:
                    field:
                      type: string
                    message:
                      type: string
